* {
    background-color: rgb(128, 128, 128);
    padding-top: 5px;
}

h1 {
    color: yellow;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 6em;
    margin: 15px;
    -webkit-text-stroke: 2px black;
}

div img {
    width: 50%;
    border-radius: 20px;
    border-style: outset;
    margin: 25px;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.historia {
    text-align: center;
    padding: 20px;
}

.texto {
    background-color: rgb(255, 255, 255);
}

footer{
    text-align: center;
}

#correo { 
    text-decoration: none;
    color: white;
}

footer p {
    font-size: small;
}

a {
    text-decoration: none;
}

#dav {
    color: black;
}